$header:rgb(3,14,24);

$red:rgb(255,80,63);
$green:rgb(160,192,81);

$darkgray:rgb(96,107,112);
$txtgray: rgb(163,175,181);

$bggray:rgb(238,239,243);
$boxgray: rgb(248,250,251);

$footer:rgb(35,39,42);


$facebook_color: hsla(222, 47%, 40%, 1);
$twitter_color: hsla(198, 100%, 47%, 1); 
$vimeo_color: hsla(200, 82%, 61%, 1);
$flickr_color: hsla(334, 100%, 46%, 1); 
$pinterest_color: hsla(0, 78%, 45%, 1);  
$dribbble_color: hsla(338, 82%, 60%, 1);